@tailwind base;
@tailwind components;
@tailwind utilities;

container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #1f2937;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  width: 350px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  color: #e5e7eb;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 12px;
  text-align: left;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 9999px;
  overflow: hidden;
}

.select {
  width: 100px;
  padding: 10px;
  border: 1px solid #374151;
  background-color: #374151;
  color: #e5e7eb;
  font-size: 14px;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #374151;
  background-color: #4b5563;
  color: #e5e7eb;
  font-size: 14px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.links a {
  color: #e5e7eb;
}

.links img {
  filter: brightness(0) invert(1);
}

.links p {
  font-size: 18px;
  font-weight: 600;
  color: #e5e7eb;
  margin: 0;
}

button {
  background-color: #10b981;
  color: white;
  padding: 10px;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #059669;
}
